body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
    color: white;
}

p {
    color: #8f8f8f;
}

/* Title CSS */

#title {
    background-color: #ff4c68;
}

#brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.title-container {
    padding: 7% 15% 5%;
}

.title-img {
    width: 20%;
    transform: rotate(20deg);
    padding: 3rem 1rem 1rem;
    right: 20%;
    position: absolute;
}

@media (max-width: 990px){

    #title {
        text-align: center;
    }
    
    .title-img {
        position: static;
        transform: rotate(0);
        width: 50%;
        margin-left: 0;
    }
}

/* Features CSS */

#features {
    background-color: white;
    position: relative;
}

.container-fluid {
    padding: 4% 15%;
}

.icon {
    color: #ef8172;
    font-size: 3rem;
}

.icon:hover {
    color: #ff4c68;
    font-size: 3rem;
}

.icon-row {
    text-align: center;
}

.icon-text {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.feature-box {
    padding: 5%
}


/* Testimonials CSS */

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    border-radius: 100%;
    width: 10%;
}

.press-icons {
    margin: 1.5rem 2rem 2rem 1.5rem;
    width: 15%;
}

.carousel-item {
    padding: 7% 15%;
    margin-bottom: 1.5rem;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
}

#press {
    text-align: center;
    padding: 2% 15%;
    background-color: #ef8172; 
}

/* Pricing CSS */

.card {
    height: auto;
    /* margin: 1.5rem 2rem 2rem 1.5rem; */
}

.pricing-col {
    padding: 3% 2%;
}

#pricing {
    text-align: center;
    padding: 7% 15%;
}

/* Call to action CSS */

#cta {
    text-align: center;
    background-color: #ff4c68;
    padding: 7% 15%;
    color: #fff;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
}

/* Footer CSS */

#footer {
    text-align: center;
    padding: 2% 15%;
    background-color: #fff;
}

.social-media-icon {
    padding: 1%;
}